body
{
	background-color: whitesmoke;
	font-family: "Gill Sans", sans-serif;
	background-color: red;
}

main
{
	border: 4px solid black;
	padding: 30px;
	margin: auto;
	width: 60%;
	height: 800px;
	border-radius: 10px;
	background-color: darkgreen;
}

p
{
	font-size: 10px;
}

.cl1
{
	margin: auto;
	width: 48%;
	height: 100px;
	float: left;
}
.cl2
{
	margin: auto;
	width: 48%;
	height: 100px;
	float: right;

}

.img1
{
	width: 75px;
	height: 75px;
	float: right;
}

section 
{
	border: 3px solid black;
	margin: 20px;
	padding: 5px;
	border-radius: 8px;
	clear: both;
	height: 200px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.cl3
{
	margin: auto;
	width: 25%;
	height: 200px;
	float: left;
}
.cl4
{
	margin: auto;
	width: 75%;
	height: 200px;
	float: right;
}
.cl5
{
	 
	margin: auto;
	width: 25%;
	height: 200px;
	float: left;
}
.cl6
{
	 
	margin: auto;
	width: 75%;
	height: 200px;
	float: right;
}
.cl7
{
	 
	margin: auto;
	width: 20%;
	height: 200px;
	float: left;
}
.cl8
{
	 
	margin: auto;
	width: 75%;
	height: 200px;
	float: right;
}