.A {
    height: 350px;
    width: 475px;
    border: solid 2px red;
}
.A:hover {
    zoom: 200%;
    
}
.B{
    height: 350px;
    width: 475px;
    border: solid 2px red;
}
.B:hover {
    zoom: 200%;
}
.C{
    height: 350px;
    width: 475px;
    border: solid 2px red;
}
.C:hover {
    zoom: 200%;
}
.D{
    height: 350px;
    width: 475px;
    border: solid 2px red;
}
.D:hover {
    zoom: 200%;
}
.E{
    height: 350px;
    width: 475px;
    border: solid 2px red;
}
.E:hover {
    zoom: 200%;
}